<div class="container">

    <form [formGroup]=postForm (ngSubmit)=editPost()>
        <h3>Edit Post</h3>
        
        <input id="title" class="form-control" formControlName=title
        type="title"  maxlength="100" placeholder="Title...">
        <br>
        <textarea id="text" type="textarea" class="form-control" formControlName=textField placeholder="text..."></textarea>
        <br>

        <button class="submit-btn">Submit</button><button type="button" class="cancel-btn" (click)="cancelPost()">Cancel</button>
        
    </form>

</div>
<router-outlet></router-outlet>