.container {
    text-align: center;
    background-color: tan;
    padding: 50px;
    height: 100%;
    #title{
        width: 40em;
        margin-bottom: .5em;
    }
    #text{
        width: 40em;
        height: 10em;
    }
    .cancel-btn{
        background-color: red;
    }
    .submit-btn{
        margin-right: .5em;
    }

}

button:hover{
    transform: translateY(-3px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    
}
button::after {
    background-color: white;
}

button::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 50%;
}
