.mat-toolbar{
    background-color: #7A542E;
  
    .app-name{
        padding-left: 1em;
        color: white;
        font-size: 1.5em;
        margin: 0;
    }
    
    .menu-btn{
        background-color: #A9927D;
    }

    .flex{
        flex: 1 1 auto;
    }

    #logout{
        float: right;
        color: white;
        font-size: 1em;
    }

    a{
        text-decoration: none;
    }

    .app-name:hover{
        cursor: pointer;
    }
    
}

