.header{
    text-align: center;
    background: #7A542E;
    font-size: 20px;
    padding: 20px;
    border-bottom: silver 1px solid;
    h1{
        color: white;
        font-size: 2em;
        margin: 0;
    }
    #logout{
        float: right;
        color: black;
        #logout:visited{
            color: black
        }
    }
    
}