.footer {
    padding: 50px;
    text-align: center;
    background: #7A542E;
    color: white;
    font-size: 25px;
    min-height: 10%;
    display: grid;
    grid-template-rows: auto 1fr auto;  
    
}