<div class="container">
    <h2>Hello, {{firstName}}</h2>
    <a class="btn btn-white btn-        animate" (click)="post()"><span class="add-post">Add Post</span></a>
    <mat-form-field appearance="fill" class="filter">
        <mat-label>Filter</mat-label>
        <!-- When selecting a filter, we will call selectedFilter and filter posts based on it -->
        <mat-select [(value)]="selected" (valueChange)="selectedFilter(selected)">
          <mat-option value="none">None</mat-option>
          <mat-option value="userPosts">Your Posts</mat-option>
          <mat-option value="mostViews">Most Views</mat-option>
          <mat-option value="leastViews">Least Views</mat-option>
        </mat-select>
      </mat-form-field>
      
      <br><br><br>
    <div class="postContainer">
        <div class="selectableList" *ngFor="let post of filterPosts" (click)="getPostDetails(post)">
            <span>{{post.title}}</span>
            <span class="createdDate">{{extractDate(post.createdDate)}} <span class="views">Views: {{post.views}}</span></span>
            
            <span class="userName">Post by {{post.first_name}} {{post.last_name}}</span>
        </div>
    </div>

    <div *ngIf="isFilterPostEmpty then emptyPost">
      
    </div>

    <div class="testing">

    </div>
</div>

<ng-template #emptyPost>
  <p>You do not have any posts</p>
</ng-template>
