.container{
    background-color: tan;
    padding: 100px;
    margin: 0 auto;
    text-align: center;
    
    button {
        border-radius: .7em;
        padding: .5em;
        margin: .5em;
        width: 10em;
        background-color: #A9927D;
    }   

    h2 {
        padding-top: 0em;
    }

    .postContainer{

        .selectableList{
            background-color: #A9927D;
            padding: 1em;
            margin: 1em;
            border: thin solid black;
        }
        .selectableList:hover{
            background-color: white;
            cursor: pointer;
            
        }
        .createdDate{
            font-size: 10px;
            float: right;
        }
        .userName{
            float: left;
            font-size: 10px;
        }
        .views{
            bottom:0;
            right:0;
            padding: .5em;
        }
        

    }
}