
    <div class="container">

        <ng-container *ngIf="(onGetUserPostDetails$ | async)">
        
        <div class="postDetailSection">
            <div class="post-content">

                <span class="date">Created: {{extractDate(post.date)}}</span>
                <span class="userInfo">Posted by: {{userDetails.firstName}} {{userDetails.lastName}} </span>
                <h2 class="title">{{post.title}}</h2>
                <p class="textField">{{post.text}}</p>
                <br>
                <span class="views">Views: {{post.views}}</span>
                <br>
    
                <ng-template [ngIf]="isUserPost">
                    <button class="dlt-btn" style="background-color: red; margin-right: .4em;" (click)="deletePost(post.id)">Delete</button>
                    <button class="edit-btn" style="background-color: lightgreen" (click)="editPost(post)">Edit</button>
                </ng-template>
            </div>

        </div>
    
    </ng-container>


    <ng-container *ngIf="(onCommentReturned$ | async); else showNoComments">

        <div class="commentSection">
            <!-- TODO: Need Input section when users click on comment button,
                This is only Visible when comment button is pressed-->
                <div class="comments">
                    <h3 class="comments-title">Comments</h3>
                    <div class="comments-form-title"></div>

                    <form class="comment-form" [formGroup]=commentForm (ngSubmit)=submitCommentForm()>
                        <mat-form-field class="comment-full-width" appearance="fill">
                          <mat-label>Leave a comment</mat-label>
                          <textarea formControlName=comment matInput placeholder="Add a comment..."></textarea>
                        </mat-form-field>
                        <button type="button" class="comment-btn" (click)="submitCommentForm()">Comment</button>
                      </form>


                    <div class="comment-container">

                        <div *ngFor="let comment of comments">
    
                            <div class="comment-content">
    
                                <div class="comment-img-container">
                                    <img src="assets/user-icon.png"/>
                                </div>
        
                                <div class="comment-right-part">
                                    <div class="comment-user">{{comment.userName}}</div>
                                    <div class="commet-text">{{comment.text}}</div>
                                </div>
    
                            </div>
    
                            <!-- TODO: Implement reply button in the future-->
                        <!--
                            <div class="comment-bottom-part">
                                <button class="reply-btn" (click)="reply()">Reply</button>
                            </div>
                        -->
                        <br>
                    </div>  
                    
                    </div>
                </div>
        </div>

    </ng-container>


</div>

<ng-template #showNoComments>
    <span>No Comments</span>
    <form class="comment-form" [formGroup]=commentForm (ngSubmit)=submitCommentForm()>
        <mat-form-field class="comment-full-width" appearance="fill">
          <mat-label>Leave a comment</mat-label>
          <textarea formControlName=comment matInput placeholder="Add a comment..."></textarea>
        </mat-form-field>
        <button class="comment-btn">Comment</button>
      </form>
</ng-template>

<ng-template #replyComment>
    <form class="reply-comment-form" [formGroup]=replyCommentForm (ngSubmit)=submitReplyCommentForm()>
        <mat-form-field class="comment-full-width" appearance="fill">
          <mat-label>Leave a comment</mat-label>
          <textarea formControlName=replyComment matInput placeholder="Add a reply comment..."></textarea>
        </mat-form-field>
        <button class="comment-btn">Comment</button>
      </form>
</ng-template>
